main a {
    display: inline;
    position: relative;
    color: var(--sj-blue)
}

main a div.underline {
    display: block;
    background-color: var(--sj-black);
    transition: width 0.5s ease;
    width: 0;
    position: absolute;
    left: 0;
}

main a:hover div.underline {
    width: 100%;
}